In [ ]:
#https://query2.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/AAPL?symbol=AAPL"
#https://query2.finance.yahoo.com/v8/finance/chart/AAPL?period1=1704145844&period2=1723236317&interval=1mo

In [4]:
import sys
import os
cwd = os.getcwd()

sys.path.append(cwd.replace('notebooks','')+'code')

In [3]:
from source.scraper import get_StockPrices
import pandas as pd

df = get_StockPrices('NVDA', startSelect='2002-01-02')
df

        adjClose ticker  quarter_meanADJclose  month_meanADJclose yearMonthDay
0       0.514411   NVDA              0.448435            0.501850     20020102
1       0.548119   NVDA              0.448435            0.501850     20020103
2       0.532145   NVDA              0.448435            0.501850     20020104
3       0.517851   NVDA              0.448435            0.501850     20020107
4       0.523966   NVDA              0.448435            0.501850     20020108
...          ...    ...                   ...                 ...          ...
5693  122.860001   NVDA            118.587568          113.710666     20240815
5694  124.580002   NVDA            118.587568          113.710666     20240816
5695  130.000000   NVDA            118.587568          113.710666     20240819
5696  127.250000   NVDA            118.587568          113.710666     20240820
5697  127.919998   NVDA            118.587568          113.710666     20240821

[5698 rows x 5 columns]

In [ ]:
from source.scraper import generate_CIK_TICKER


df = generate_CIK_TICKER()

In [7]:
from spark_deltalake.spark_operations import sparkDelta


spark = sparkDelta()
pydf = spark.get_spark_dataframe('SEC_filings', True)

hadoop-azure is available
azure-storage is available

In [8]:
pydf.show()

+--------------------+----------+----------+--------------------+---+--------+----------+----------+---------+-------+------+------------+--------------------+---------------------+--------------------+------------+------+
|     accessionNumber|filingDate|reportDate|  acceptanceDateTime|act|    form|fileNumber|filmNumber|    items|   size|isXBRL|isInlineXBRL|     primaryDocument|primaryDocDescription|             fileURL|yearMonthDay|ticker|
+--------------------+----------+----------+--------------------+---+--------+----------+----------+---------+-------+------+------------+--------------------+---------------------+--------------------+------------+------+
|0000315066-14-004209|2014-11-10|          |2014-11-10T10:52:...| 34|SC 13G/A| 005-13157| 141207194|         |   9330|     0|           0|          filing.txt|                     |https://www.sec.g...|    20141110|   AOS|
|0001193125-14-393314|2014-11-03|2014-09-30|2014-11-03T11:39:...| 34|    10-Q| 001-00475| 141188405|         |4755289|     1|           0|     d788786d10q.htm|                 10-Q|https://www.sec.g...|    20140930|   AOS|
|0001193125-14-376936|2014-10-21|2014-10-21|2014-10-21T08:00:...| 34|     8-K| 001-00475| 141164922|2.02,9.01| 193009|     0|           0|      d807552d8k.htm|                  8-K|https://www.sec.g...|    20141021|   AOS|
|0000091142-14-000050|2014-09-08|2014-09-05|2014-09-08T12:03:...|   |       4|          |          |         |  11727|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140905|   AOS|
|0001193125-14-294793|2014-08-05|2014-06-30|2014-08-05T09:40:...| 34|    10-Q| 001-00475| 141014844|         |4705689|     1|           0|     d742784d10q.htm|                 10-Q|https://www.sec.g...|    20140630|   AOS|
|0000091142-14-000049|2014-07-25|2014-07-24|2014-07-25T10:47:...|   |       4|          |          |         |   5845|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140724|   AOS|
|0001193125-14-274959|2014-07-22|2014-07-22|2014-07-22T08:00:...| 34|     8-K| 001-00475|  14985569|2.02,9.01| 190762|     0|           0|      d761523d8k.htm|                  8-K|https://www.sec.g...|    20140722|   AOS|
|0001193125-14-237204|2014-06-16|2013-12-31|2014-06-16T10:30:...| 34|    11-K| 001-00475|  14922010|         | 252981|     0|           0|     d741977d11k.htm|                 11-K|https://www.sec.g...|    20131231|   AOS|
|0001193125-14-218900|2014-05-30|          |2014-05-30T11:23:...| 34|      SD| 001-00475|  14878423|         |  46440|     0|           0|      d734483dsd.htm|                   SD|https://www.sec.g...|    20140530|   AOS|
|0001193125-14-181494|2014-05-05|2014-03-31|2014-05-05T10:36:...| 34|    10-Q| 001-00475|  14811724|         |3907712|     1|           0|     d701438d10q.htm|                 10-Q|https://www.sec.g...|    20140331|   AOS|
|0000091142-14-000047|2014-05-01|2014-04-30|2014-05-01T16:54:...|   |       4|          |          |         |  13143|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140430|   AOS|
|0000091142-14-000046|2014-05-01|2014-04-29|2014-05-01T13:26:...|   |       4|          |          |         |   9304|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140429|   AOS|
|0000091142-14-000045|2014-04-25|2014-04-25|2014-04-25T15:21:...|   |       4|          |          |         |   4286|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140425|   AOS|
|0001193125-14-151732|2014-04-22|2014-04-22|2014-04-22T08:00:...| 34|     8-K| 001-00475|  14775268|2.02,9.01| 255461|     0|           0|      d715096d8k.htm|                  8-K|https://www.sec.g...|    20140422|   AOS|
|0001193125-14-136425|2014-04-09|2014-04-07|2014-04-09T10:08:...| 34|     8-K| 001-00475|  14752672|     5.07|  28285|     0|           0|      d709921d8k.htm|                  8-K|https://www.sec.g...|    20140407|   AOS|
|0000091142-14-000044|2014-04-08|2014-04-07|2014-04-08T17:26:...|   |       4|          |          |         |  13137|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140407|   AOS|
|0000091142-14-000043|2014-04-08|2014-04-07|2014-04-08T17:17:...|   |       4|          |          |         |   4538|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140407|   AOS|
|0000091142-14-000042|2014-04-08|2014-04-07|2014-04-08T17:12:...|   |       4|          |          |         |   4766|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140407|   AOS|
|0000091142-14-000041|2014-04-08|2014-04-07|2014-04-08T17:07:...|   |       4|          |          |         |   6405|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140407|   AOS|
|0000091142-14-000040|2014-04-08|2014-04-07|2014-04-08T17:03:...|   |       4|          |          |         |   9563|     0|           0|xslF345X03/edgar.xml|     PRIMARY DOCUMENT|https://www.sec.g...|    20140407|   AOS|
+--------------------+----------+----------+--------------------+---+--------+----------+----------+---------+-------+------+------------+--------------------+---------------------+--------------------+------------+------+
only showing top 20 rows

In [54]:
ticker = 'AOS'
query = ' '.join(
    (
    "WITH CTE AS (SELECT * FROM SEC_filings",
    f'WHERE ticker = \'{ticker}\')',
    'SELECT ticker, formatTime(MAX(yearMonthDay)) AS max_time, formatTime(MIN(yearMonthDay)) AS min_time FROM CTE',
    'GROUP BY ticker'
    )
 )


def formatTime(timestr):    
    year = timestr[:4]
    month = timestr[4:6]
    day = timestr[6:]
    
    return '-'.join((year, month, day))


spark.spark.udf.register("formatTime", formatTime)

dfspark = spark.spark.sql(query).toPandas()

In [55]:
dfspark

  ticker    max_time    min_time
0    AOS  2024-08-16  2012-12-31

In [ ]:
spark.sparkStop()

In [ ]:
from source.scraper import get_spy500_formWiki


wiki = get_spy500_formWiki()

In [ ]:
get_companyfacts('CIK0000320193')

In [ ]:
from source.scraper import get_companyfacts
#https://data.sec.gov/api/xbrl/companyfacts/CIK0000320193.json
mergedDF = get_companyfacts('CIK0001045810') #2016-07-31

#mergedDF['fy'] = mergedDF['fy'].replace('',"")
#mergedDF['fy'] = mergedDF['fy'].astype(str).str[:4]
#mergedDF['fy'] = mergedDF['fy'].replace(-1, None)

mergedDF

In [ ]:
"""
https://www.sec.gov/ix?doc=/Archives/edgar/data/0000320193/000114036124024352/ef20028273_8k.htm


https://data.sec.gov/api/xbrl/companyconcept/CIK0000320193/us-gaap/AccountsPayableCurrent.json - info about reports

https://data.sec.gov/api/xbrl/companyfacts/CIK0000320193.json

/0001140361|24|024352/
accessionNumber - 0001140361-24-024352

"""

In [ ]:
from source.scraper import generate_CIK_TICKER

sec_ticker = generate_CIK_TICKER()
sec_ticker

In [ ]:
from source.scraper import get_SEC_filings


ticker = 'AAPL'

filings = get_SEC_filings('CIK0000320193', 'AAPL')

filings